.logo
{
    float:CENTER; margin: 0px 0 0px;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.header{
    text-align: center;
}
.title-important{
    color:steelblue
}
nav li{
    display: inline;
    text-decoration: underline;
}
nav{
    background-color:greenyellow;
}
h2{
    color:black;    
    text-align:center;
}
p , .liste-conseils , .liste-puces{
    color:green;
    font-size:16px;
}
.inline{
    display:inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
a:hover{
    color:rgb(92, 65, 16);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}
.adresse , .contact , .titre-coordonnées{
    display: block;
    position:relative;
    text-align:center;
    color:green;
}
.petit-logo{
    height:30px;
    float:auto;
    margin:auto;
}
.logo-action{
    height: 30px;
    width: 50px;
    margin:auto;
}
.logo-conseils{
    height: 40px;
    width: 40px;
    margin:auto;
}
.butine{
    height:300px;
    width:300px;
    display:block;
    margin :auto
}
h3{
    color:grey;
}
.titre-reine , .titre-plage{
    text-align: center;
}
.logo-contact{
    height: 40px;
    width: 40px;
    margin:auto;
}
.tour-eiffel{
    height:300px;
    width:400px;
    display:block;
    margin :auto; 
}
.sous-titre-reine , .sous-titre-plage{
    text-align: center;
}
.plage1{
   height:300px;
    width:700px;
    display:block;
    margin :auto;  
}
*{
    background-color:khaki
}

